<h1> Dashboard </h1>
<div class="row">
	<div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
</div>
<div class="row">
	<div class="col-md-4 col-md-offset-8">
		<input type="text" id="query" class="form-control" placeholder="search" ng-model="query">
	</div>
</div>
<div class="row">
	<div class="panel panel-default">
		<div class="panel-heading"> <h4>Programs: </h4></div>
		<div class="list-group">
			<a class="list-group-item" ng-repeat="program in programs | filter:query" href="#/programs/{{program._id}}">
				<h4 class="list-group-item-heading"> {{program.project}} </h4>
				<p class="list-group-item-text"> {{program.location}} </p>
			</a>
		</div>
	</div>
</div>