<div ng-controller="logoutController">
	<a class="btn btn-default" ng-click="logout()" role="button">Logout</a>
</div><a class="btn btn-default" href="#/admin" role="button" ng-show="admin">Back to Admin Dashboard</a>
<h1> Dashboard </h1>
<div class="row">
	<div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
</div>
<!-- Search Box -->
<div class="row">
	<div class="col-md-4 col-md-offset-8">
		<input type="text" id="query" class="form-control" placeholder="search" ng-model="query">
	</div>
</div>
<!-- Non Editing -->
<div class="row" ng-hide="editing">
	<div class="panel panel-default">
		<div class="panel-heading"> <h4>Programs: </h4></div>
		<div class="list-group">
			<a class="list-group-item" ng-repeat="program in programs | filter:query" href="#/programs/{{program._id}}">
				<h4 class="list-group-item-heading"> {{program.project}} </h4>
				<p class="list-group-item-text"> {{program.location}} </p>
			</a>
		</div>
	</div>
</div>

<!-- Editing -->
<div class="row" ng-show="editing">
	<div class="panel panel-default">
		<table class="table table-striped table-hover">
			<thead>
				<th> Name </th>
				<th> Location </th>
				<th> Delete </th>
			</thead>
			<tbody>
				<tr ng-repeat="program in programs | filter:query">
					<td>
						<div class="input-group">
							<input type="text" class="form-control" ng-model="program.project" ng-change="$parent.modifyProgram(program)">
						</div>
					</td>
					<td>
						<div class="input-group">
							<input type="text" class="form-control" ng-model="program.location" ng-change="$parent.modifyProgram(program)">
						</div>
					</td>
					<td>
						<button role="button" class="btn btn-default" ng-click="$parent.openDeleteModal(program)"> Delete Program </button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="row">
	<button class="btn btn-default" role="button" ng-click="editPrograms()" ng-hide="editing"> Edit Programs </button>

	<button class="btn btn-default" role="button" ng-click="saveChanges()" ng-show="editing"> Save Changes </button>
	<button class="btn btn-default" role="button" ng-click="openCreateProgramModal()" ng-show="editing"> Create Program </button>
</div>

<script type="text/ng-template" id="deleteTemplate.html">
	<!-- Header -->
	<div class="modal-header">
		<button type="button" class="close" ng-click="dismissModal()"><span>&times;</span></button>
		<h4 class="modal-title" id="inviteUserLabel"> Are you sure you want to permenantly delete <em> {{program.project}} @ {{program.location}}?</em></h4>
	</div>
	<!-- Footer -->
	<div class="modal-footer">
		<button type="button" class="btn btn-default" ng-click="dismissModal()"> Cancel </button>
		<button type="button" class="btn btn-default" ng-click="delete()"> Delete </button>
	</div>
</script>


<script type="text/ng-template" id="createTemplate.html">
	<!-- Header -->
	<div class="modal-header">
		<button type="button" class="close" ng-click="dismissModal()"><span>&times;</span></button>
		<h4 class="modal-title" id="inviteUserLabel"> Create a program </h4>
	</div>
	<!-- Body -->
	<div class="modal-body">
		<div ng-show="error" class="alert alert-danger">{{ errorMessage }}</div>
		<div class="input-group">
			<label for="registerName">Name</label>
			<input type="text" id="name" class="form-control" ng-model="program.project" placeholder="Name" required>
		</div>

		<div class="input-group">
			<label for="registerLocation">Location</label>
			<input type="text" id="registerLocation" class="form-control" ng-model="program.location" placeholder="Location" required>
		</div>
	</div>
	<!-- Footer -->
	<div class="modal-footer">
		<button type="submit" class="btn btn-default" ng-click="submit()"> Submit </button>
	</div>
</script>